<!-- syntax_highlighting: html -->
<div class="large-12 medium-12 medium-centered columns">
  <%= form_for form_params(@forum, @topic) do |f| %>
    <%= render 'layouts/form_errors', object: @topic %>
    
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>

    <div>
      <%= f.submit class: 'small button right'%>
    </div>
  <% end %>
</div>
